/* line 14, ../sass/_reset.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../sass/_reset.sass */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-style: normal;
}

/* line 27, ../sass/_reset.sass */
article, aside, figure, footer, header, hgroup, nav, section, details, summary {
  display: block;
}

/* line 34, ../sass/_reset.sass */
img,
object,
embed {
  max-width: 100%;
}

/* line 40, ../sass/_reset.sass */
html {
  overflow-y: scroll;
}

/* line 45, ../sass/_reset.sass */
ul {
  list-style: none;
}

/* line 48, ../sass/_reset.sass */
blockquote, q {
  quotes: none;
}

/* line 51, ../sass/_reset.sass */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* line 58, ../sass/_reset.sass */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 65, ../sass/_reset.sass */
del {
  text-decoration: line-through;
}

/* line 68, ../sass/_reset.sass */
abbr[title], dfn[title] {
  border-bottom: 1px dotted black;
  cursor: help;
}

/* line 73, ../sass/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 76, ../sass/_reset.sass */
th {
  font-weight: bold;
  vertical-align: bottom;
}

/* line 79, ../sass/_reset.sass */
td {
  font-weight: normal;
  vertical-align: top;
}

/* line 83, ../sass/_reset.sass */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 91, ../sass/_reset.sass */
input, select {
  vertical-align: middle;
}

/* line 94, ../sass/_reset.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 100, ../sass/_reset.sass */
input[type="search"]::-webkit-search-decoration {
  display: none;
}

/* line 109, ../sass/_reset.sass */
input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 113, ../sass/_reset.sass */
input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: #0066ff 0 0 5px 0;
  -moz-box-shadow: #0066ff 0 0 5px 0;
  box-shadow: #0066ff 0 0 5px 0;
  z-index: 1;
}

/* line 118, ../sass/_reset.sass */
select, input, textarea {
  font: 99% sans-serif;
}

/* line 124, ../sass/_reset.sass */
input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 128, ../sass/_reset.sass */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 130, ../sass/_reset.sass */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 133, ../sass/_reset.sass */
button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #dddddd url('button.png?1370553276') repeat-x;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd);
  background-image: -moz-linear-gradient(#ffffff, #dddddd);
  background-image: -o-linear-gradient(#ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  color: #333333;
  display: inline-block;
  outline: 0;
  overflow: visible;
  margin: 0;
  padding: 3px 10px;
  text-decoration: none;
  text-shadow: white 0 1px 1px;
  vertical-align: top;
  width: auto;
}
/* line 156, ../sass/_reset.sass */
button:hover,
a.button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(1px, #eeeeee), color-stop(100%, #ebebeb));
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee 1px, #ebebeb);
  background-image: -moz-linear-gradient(#ffffff, #eeeeee 1px, #ebebeb);
  background-image: -o-linear-gradient(#ffffff, #eeeeee 1px, #ebebeb);
  background-image: linear-gradient(#ffffff, #eeeeee 1px, #ebebeb);
  text-decoration: none;
}
/* line 160, ../sass/_reset.sass */
button:active, button:focus,
a.button:active,
a.button:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus,
input[type="button"]:active,
input[type="button"]:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#dddddd, #eeeeee);
  background-image: -moz-linear-gradient(#dddddd, #eeeeee);
  background-image: -o-linear-gradient(#dddddd, #eeeeee);
  background-image: linear-gradient(#dddddd, #eeeeee);
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  border-color: #999999 #bbbbbb #dddddd;
}
/* line 168, ../sass/_reset.sass */
button::-moz-focus-inner,
a.button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 172, ../sass/_reset.sass */
textarea,
select,
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  height: 1.8em;
  outline: 0;
  margin: 0;
  padding: 2px 3px;
  text-align: left;
  vertical-align: bottom;
}
/* line 202, ../sass/_reset.sass */
textarea[disabled],
select[disabled],
input[type="color"][disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eeeeee;
}

/* line 205, ../sass/_reset.sass */
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888888;
  cursor: default;
}

/* line 223, ../sass/_reset.sass */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888888;
}

/* line 227, ../sass/_reset.sass */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888888;
}

/* line 231, ../sass/_reset.sass */
input.placeholder_text,
textarea.placeholder_text {
  color: #888888;
}

/* line 235, ../sass/_reset.sass */
textarea,
select[size],
select[multiple] {
  height: auto;
}

/* line 240, ../sass/_reset.sass */
table {
  font-size: inherit;
  font: 100%;
}

/* line 244, ../sass/_reset.sass */
small {
  font-size: 85%;
}

/* line 247, ../sass/_reset.sass */
strong {
  font-weight: bold;
}

/* line 250, ../sass/_reset.sass */
td, td img {
  vertical-align: top;
}

/* line 256, ../sass/_reset.sass */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 260, ../sass/_reset.sass */
sup {
  top: -0.5em;
}

/* line 262, ../sass/_reset.sass */
sub {
  bottom: -0.25em;
}

/* line 266, ../sass/_reset.sass */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 270, ../sass/_reset.sass */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* line 279, ../sass/_reset.sass */
.clearfix {
  zoom: 1;
  after-clear: both;
}
/* line 282, ../sass/_reset.sass */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  /* line 294, ../sass/_reset.sass */
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  /* line 300, ../sass/_reset.sass */
  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  /* line 309, ../sass/_reset.sass */
  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 0;
    color: white;
    font: 1em/1.3em "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 1.3em;
  }

  /* line 321, ../sass/_reset.sass */
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666666;
    border-color: #666666;
  }
}
/* line 329, ../sass/_reset.sass */
textarea {
  min-height: 1.3em;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

/* line 335, ../sass/_reset.sass */
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 344, ../sass/_reset.sass */
optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 21, ../sass/screen.sass */
html {
  font: 62.5%/1.5 Georgia, serif;
  text-shadow: 0 1px 1px #aaaaaa;
}

/* line 25, ../sass/screen.sass */
html,
body {
  height: 100%;
}

/* line 29, ../sass/screen.sass */
body,
select,
input,
textarea {
  color: #222222;
}

/* line 26, ../sass/_mixins.sass */
::-moz-selection {
  background: #fcd700;
  color: white;
  text-shadow: none;
}

/* line 29, ../sass/_mixins.sass */
::selection {
  background: #fcd700;
  color: white;
  text-shadow: none;
}

/* line 40, ../sass/screen.sass */
a {
  color: #8c001a;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  text-decoration: none;
}
/* line 18, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #8c001a;
}
/* line 21, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #a95400;
}
/* line 24, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #a95400;
}
/* line 27, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #a95400;
}
/* line 46, ../sass/screen.sass */
a:link, a:visited {
  -webkit-tap-highlight-color: #fcd700;
}

/* line 21, ../sass/_mixins.sass */
::-webkit-input-placeholder {
  color: darkgrey;
}

/* line 21, ../sass/_mixins.sass */
:moz-placeholder {
  color: darkgrey;
}

/* line 21, ../sass/_mixins.sass */
::-moz-placeholder {
  color: darkgrey;
}

/* line 21, ../sass/_mixins.sass */
:-ms-input-placeholder {
  color: darkgrey;
}

/* line 53, ../sass/screen.sass */
p {
  margin-bottom: 1em;
}

/* line 56, ../sass/screen.sass */
strong {
  font-weight: bold;
}

/* line 59, ../sass/screen.sass */
em {
  font-style: italic;
}

/* line 62, ../sass/screen.sass */
html {
  background-color: white;
}

/* line 65, ../sass/screen.sass */
body {
  font-size: 1.6em;
}
/* line 69, ../sass/screen.sass */
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

/* line 76, ../sass/screen.sass */
.container {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 4px;
  position: relative;
}
@media screen and (max-width: 1000px) {
  /* line 76, ../sass/screen.sass */
  .container {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
}

/* line 90, ../sass/screen.sass */
.bordered {
  border: 1px solid #bbbbbb;
  padding: 20px;
}
@media screen and (max-width: 1000px) {
  /* line 90, ../sass/screen.sass */
  .bordered {
    border: none;
    padding: 0 1em;
  }
}

/* line 99, ../sass/screen.sass */
.logo a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background: url('icons-s97f061166e.png') 0 0 no-repeat;
  display: inline-block;
  width: 265px;
  height: 50px;
  left: 50%;
  margin-left: -132.5px;
  position: relative;
}

/* line 106, ../sass/screen.sass */
nav select {
  background-color: black;
  color: white;
  height: 2em;
}

/* line 112, ../sass/screen.sass */
.sections {
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
}
/* line 117, ../sass/screen.sass */
.sections li {
  display: inline-block;
  min-height: 1em;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  _height: 1em;
  margin-bottom: 15px;
}
/* line 121, ../sass/screen.sass */
.sections a {
  color: black;
}
/* line 18, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.sections a:visited {
  color: black;
}
/* line 21, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.sections a:focus {
  color: #a95400;
}
/* line 24, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.sections a:hover {
  color: #8c001a;
}
/* line 27, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.sections a:active {
  color: #a95400;
}
/* line 125, ../sass/screen.sass */
.sections a:hover figure {
  -webkit-box-shadow: 0 0 4px 3px #aaaaaa;
  -moz-box-shadow: 0 0 4px 3px #aaaaaa;
  box-shadow: 0 0 4px 3px #aaaaaa;
  background-color: #efefef;
  border-color: black;
  position: relative;
  z-index: 9999;
}
/* line 132, ../sass/screen.sass */
.sections a:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 135, ../sass/screen.sass */
.sections figure,
.sections img {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 350ms;
  -moz-transition-duration: 350ms;
  -o-transition-duration: 350ms;
  transition-duration: 350ms;
}
/* line 140, ../sass/screen.sass */
.sections figure {
  background-color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #bbbbbb;
  overflow: hidden;
  padding: 3%;
  width: 100%;
}
/* line 148, ../sass/screen.sass */
.sections img {
  height: auto;
  width: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
/* line 153, ../sass/screen.sass */
.sections figcaption {
  letter-spacing: 0.25em;
  margin: 0.5em 0;
}
@media screen and (max-width: 1000px) {
  /* line 158, ../sass/screen.sass */
  .sections figcaption {
    margin: 0.5em 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 162, ../sass/screen.sass */
  .sections li {
    margin-bottom: 5px;
    margin-right: 0;
  }
  /* line 166, ../sass/screen.sass */
  .sections img {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}
/* line 170, ../sass/screen.sass */
.sections.max-3 li {
  width: 32%;
  margin-right: 2%;
}
/* line 174, ../sass/screen.sass */
.sections.max-3 li:nth-child(3n) {
  margin-right: 0;
}
@media screen and (max-width: 480px) {
  /* line 170, ../sass/screen.sass */
  .sections.max-3 li {
    width: 49%;
    margin-bottom: 5px;
  }
  /* line 181, ../sass/screen.sass */
  .sections.max-3 li:nth-child(3n) {
    margin-right: 2%;
  }
  /* line 184, ../sass/screen.sass */
  .sections.max-3 li:nth-child(2n) {
    margin-right: 0;
  }
  /* line 187, ../sass/screen.sass */
  .sections.max-3 li figcaption {
    letter-spacing: normal;
  }
}
/* line 191, ../sass/screen.sass */
.sections.max-4 li {
  width: 23.5%;
  margin-right: 2%;
}
/* line 195, ../sass/screen.sass */
.sections.max-4 li:nth-child(4n) {
  margin-right: 0;
}
@media screen and (max-width: 1000px) {
  /* line 199, ../sass/screen.sass */
  .sections.max-4 li figcaption {
    letter-spacing: normal;
  }
}
@media screen and (max-width: 480px) {
  /* line 191, ../sass/screen.sass */
  .sections.max-4 li {
    width: 49%;
    margin-bottom: 5px;
  }
  /* line 206, ../sass/screen.sass */
  .sections.max-4 li:nth-child(3n) {
    margin-right: 2%;
  }
  /* line 209, ../sass/screen.sass */
  .sections.max-4 li:nth-child(2n) {
    margin-right: 0;
  }
}

/* line 213, ../sass/screen.sass */
.columns {
  margin-bottom: 2em;
}
/* line 216, ../sass/screen.sass */
.columns .column {
  float: left;
}
@media screen and (max-width: 480px) {
  /* line 213, ../sass/screen.sass */
  .columns {
    border-bottom: 1px solid #333333;
    margin-bottom: 1em;
    padding-bottom: 2em;
  }
}
/* line 225, ../sass/screen.sass */
.columns.max-2 .column {
  width: 48%;
}
/* line 228, ../sass/screen.sass */
.columns.max-2 .column:nth-child(2n-1) {
  margin-right: 4%;
}
@media screen and (max-width: 480px) {
  /* line 225, ../sass/screen.sass */
  .columns.max-2 .column {
    width: 100%;
  }
  /* line 234, ../sass/screen.sass */
  .columns.max-2 .column:first-child {
    margin: 1em 0;
  }
}

/* line 237, ../sass/screen.sass */
#page-wrap {
  min-height: 100%;
}

/* line 240, ../sass/screen.sass */
#main {
  overflow: auto;
  padding-bottom: 18em;
}
@media screen and (max-width: 480px) {
  /* line 240, ../sass/screen.sass */
  #main {
    padding-bottom: 4em;
  }
}

/* line 247, ../sass/screen.sass */
#main-header {
  -webkit-box-shadow: 0 1px 3px #333333;
  -moz-box-shadow: 0 1px 3px #333333;
  box-shadow: 0 1px 3px #333333;
  background-color: white;
  border-bottom: 1px solid black;
  font-size: 0.8em;
  height: 10em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
@media screen and (max-width: 480px) {
  /* line 247, ../sass/screen.sass */
  #main-header {
    position: relative;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
/* line 262, ../sass/screen.sass */
#main-header .cart-links {
  background-color: black;
  color: white;
  margin-bottom: 1em;
  text-align: right;
}
/* line 268, ../sass/screen.sass */
#main-header .cart-links a {
  color: white;
}
/* line 18, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#main-header .cart-links a:visited {
  color: white;
}
/* line 21, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#main-header .cart-links a:focus {
  color: #a95400;
}
/* line 24, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#main-header .cart-links a:hover {
  color: #8c001a;
}
/* line 27, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#main-header .cart-links a:active {
  color: #a95400;
}
/* line 271, ../sass/screen.sass */
#main-header + section,
#main-header + article,
#main-header + #secondary-nav {
  margin-top: 8em;
}
/* line 276, ../sass/screen.sass */
#main-header + section.bordered,
#main-header + article.bordered,
#main-header + #secondary-nav.bordered {
  margin-top: 9em;
}
@media screen and (max-width: 1000px) {
  /* line 271, ../sass/screen.sass */
  #main-header + section,
  #main-header + article,
  #main-header + #secondary-nav {
    margin-top: 8em;
  }
}
@media screen and (max-width: 480px) {
  /* line 271, ../sass/screen.sass */
  #main-header + section,
  #main-header + article,
  #main-header + #secondary-nav {
    margin-top: 0;
  }
  /* line 285, ../sass/screen.sass */
  #main-header + section.bordered,
  #main-header + article.bordered,
  #main-header + #secondary-nav.bordered {
    margin-top: 0;
  }
}
/* line 288, ../sass/screen.sass */
#main-header + #secondary-nav {
  margin-top: 10em;
}
@media screen and (max-width: 480px) {
  /* line 288, ../sass/screen.sass */
  #main-header + #secondary-nav {
    margin-top: 0;
  }
}

/* line 294, ../sass/screen.sass */
#main-nav,
#secondary-nav {
  text-transform: uppercase;
  width: 100%;
}
/* line 299, ../sass/screen.sass */
#main-nav ul,
#secondary-nav ul {
  display: block;
  overflow: hidden;
}
/* line 303, ../sass/screen.sass */
#main-nav li,
#secondary-nav li {
  display: inline-block;
  float: left;
  text-align: center;
  width: 16.66667%;
}
/* line 310, ../sass/screen.sass */
#main-nav li:first-child a,
#secondary-nav li:first-child a {
  padding-left: 0.5em;
  text-align: left;
}
/* line 315, ../sass/screen.sass */
#main-nav li:last-child a,
#secondary-nav li:last-child a {
  padding-right: 0.5em;
  text-align: right;
}
/* line 319, ../sass/screen.sass */
#main-nav li a,
#secondary-nav li a {
  display: block;
  padding: 0.25em 0;
}
/* line 323, ../sass/screen.sass */
#main-nav li a:link, #main-nav li a:visited,
#secondary-nav li a:link,
#secondary-nav li a:visited {
  color: black;
}
/* line 327, ../sass/screen.sass */
#main-nav li a:hover, #main-nav li a:focus, #main-nav li a.current,
#secondary-nav li a:hover,
#secondary-nav li a:focus,
#secondary-nav li a.current {
  background-color: black;
  color: white;
}
/* line 333, ../sass/screen.sass */
#main-nav li a:active,
#secondary-nav li a:active {
  color: #a95400;
}
/* line 336, ../sass/screen.sass */
#main-nav li a.current,
#secondary-nav li a.current {
  cursor: default;
}
/* line 339, ../sass/screen.sass */
#main-nav select,
#secondary-nav select {
  display: none;
  margin-bottom: 1em;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  /* line 345, ../sass/screen.sass */
  #main-nav .container,
  #secondary-nav .container {
    padding: 0;
  }
  /* line 348, ../sass/screen.sass */
  #main-nav li,
  #secondary-nav li {
    width: 16.66%;
  }
  /* line 351, ../sass/screen.sass */
  #main-nav li:first-child,
  #secondary-nav li:first-child {
    text-align: center;
  }
  /* line 354, ../sass/screen.sass */
  #main-nav li:last-child,
  #secondary-nav li:last-child {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  /* line 358, ../sass/screen.sass */
  #main-nav .container,
  #secondary-nav .container {
    padding: 0 1em;
  }
  /* line 361, ../sass/screen.sass */
  #main-nav ul,
  #secondary-nav ul {
    display: none;
  }
  /* line 364, ../sass/screen.sass */
  #main-nav select,
  #secondary-nav select {
    display: block;
  }
}

/* line 367, ../sass/screen.sass */
#main-nav {
  position: absolute;
  bottom: 0;
}
/* line 371, ../sass/screen.sass */
#main-nav ul {
  border-top: 3px solid #666666;
  margin-top: 1em;
}

/* line 375, ../sass/screen.sass */
#secondary-nav {
  font-size: 0.8em;
}
/* line 378, ../sass/screen.sass */
#secondary-nav ul {
  border-bottom: 3px solid #666666;
  margin-bottom: 1em;
}
/* line 382, ../sass/screen.sass */
#secondary-nav li {
  float: left;
  text-align: center;
  width: 25%;
}
/* line 387, ../sass/screen.sass */
#secondary-nav select {
  margin-top: 1em;
}
/* line 391, ../sass/screen.sass */
#secondary-nav .collections ul {
  margin-bottom: 0;
}

/* line 394, ../sass/screen.sass */
#main-footer {
  background-color: black;
  clear: both;
  color: white;
  font-size: 0.9em;
  height: 18em;
  margin-top: -18em;
  overflow: hidden;
  padding: 2em 2em 4em 2em;
  position: relative;
  -webkit-box-shadow: 0 -1px 3px #333333;
  -moz-box-shadow: 0 -1px 3px #333333;
  box-shadow: 0 -1px 3px #333333;
}
/* line 406, ../sass/screen.sass */
#main-footer nav {
  display: inline-block;
  float: left;
  overflow: hidden;
}
/* line 411, ../sass/screen.sass */
#main-footer ul {
  float: left;
  margin-right: 2em;
}
/* line 415, ../sass/screen.sass */
#main-footer a {
  display: block;
  padding: 0.25em 0.25em 0.25em 0.5em;
  text-shadow: 0 1px 1px #777777;
}
/* line 420, ../sass/screen.sass */
#main-footer a:link, #main-footer a:visited {
  color: white;
}
/* line 424, ../sass/screen.sass */
#main-footer a:hover {
  background-color: white;
  color: black;
}
/* line 428, ../sass/screen.sass */
#main-footer a:active, #main-footer a:focus {
  color: #8c001a;
}
/* line 432, ../sass/screen.sass */
#main-footer form {
  float: right;
}
/* line 435, ../sass/screen.sass */
#main-footer label {
  display: block;
  margin-bottom: 1em;
}
/* line 439, ../sass/screen.sass */
#main-footer #mce-EMAIL {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-right: 1em;
  margin-bottom: 1em;
}
@media screen and (max-width: 1000px) {
  /* line 445, ../sass/screen.sass */
  #main-footer form {
    float: left;
    margin-top: 2em;
  }
}
@media screen and (max-width: 480px) {
  /* line 394, ../sass/screen.sass */
  #main-footer {
    height: auto;
    margin-top: 0;
  }
  /* line 453, ../sass/screen.sass */
  #main-footer ul {
    margin-bottom: 3em;
  }
  /* line 456, ../sass/screen.sass */
  #main-footer form {
    clear: both;
    display: block;
    float: none;
  }
  /* line 461, ../sass/screen.sass */
  #main-footer label {
    margin-right: 1em;
  }
}

/* line 471, ../sass/screen.sass */
#carousel {
  height: auto;
  width: 100%;
}

/* line 476, ../sass/screen.sass */
.home .container {
  position: relative;
  top: -6em;
}
@media screen and (max-width: 480px) {
  /* line 476, ../sass/screen.sass */
  .home .container {
    top: -2em;
  }
}

/* line 490, ../sass/screen.sass */
.vcard {
  display: block;
  font-size: 1.5em;
  margin-bottom: 2em;
}

/* line 495, ../sass/screen.sass */
.success,
.errors {
  color: black;
  margin-bottom: 1em;
  padding: 0.75em;
  text-shadow: none;
}

/* line 502, ../sass/screen.sass */
.success {
  background-color: #88ff7d;
}

/* line 505, ../sass/screen.sass */
.errors {
  background-color: #ff5454;
}
/* line 508, ../sass/screen.sass */
.errors li {
  display: block;
}
/* line 511, ../sass/screen.sass */
.errors li:before {
  content: "\2022";
  margin-right: 0.5em;
}

/* line 516, ../sass/screen.sass */
.inquire label {
  display: inline-block;
  margin-right: 2%;
  width: 34%;
}
/* line 521, ../sass/screen.sass */
.inquire input {
  width: 63%;
}
/* line 524, ../sass/screen.sass */
.inquire input[type="submit"] {
  width: auto;
}
/* line 527, ../sass/screen.sass */
.inquire textarea {
  height: 7em;
  margin-top: 1em;
}
@media screen and (max-width: 1000px) {
  /* line 532, ../sass/screen.sass */
  .inquire label {
    width: 100%;
    margin-bottom: 1em;
  }
  /* line 536, ../sass/screen.sass */
  .inquire input {
    width: 100%;
  }
}

/* line 547, ../sass/screen.sass */
#bespoke-sections {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  margin-top: 10px;
}
/* line 552, ../sass/screen.sass */
#bespoke-sections li {
  display: inline-block;
  min-height: 1em;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  _height: 1em;
  width: 32%;
  margin-right: 2%;
  margin-bottom: 15px;
}
/* line 558, ../sass/screen.sass */
#bespoke-sections li:nth-child(3n) {
  margin-right: 0;
}
/* line 561, ../sass/screen.sass */
#bespoke-sections a {
  display: block;
  color: black;
}
/* line 18, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#bespoke-sections a:visited {
  color: black;
}
/* line 21, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#bespoke-sections a:focus {
  color: #a95400;
}
/* line 24, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#bespoke-sections a:hover {
  color: #8c001a;
}
/* line 27, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#bespoke-sections a:active {
  color: #a95400;
}
/* line 565, ../sass/screen.sass */
#bespoke-sections a:hover, #bespoke-sections a.current {
  -webkit-box-shadow: 0 0 1px 1px #aaaaaa;
  -moz-box-shadow: 0 0 1px 1px #aaaaaa;
  box-shadow: 0 0 1px 1px #aaaaaa;
}
/* line 569, ../sass/screen.sass */
#bespoke-sections a:hover figcaption, #bespoke-sections a.current figcaption {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 572, ../sass/screen.sass */
#bespoke-sections a.current {
  color: black;
  cursor: default;
}
/* line 576, ../sass/screen.sass */
#bespoke-sections figure {
  display: block;
  height: auto;
  overflow: hidden;
  position: relative;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 350ms;
  -moz-transition-duration: 350ms;
  -o-transition-duration: 350ms;
  transition-duration: 350ms;
  text-align: center;
  width: 100%;
}
/* line 586, ../sass/screen.sass */
#bespoke-sections figcaption {
  background-color: #eeeeee;
  display: block;
  height: 2em;
  line-height: 2em;
  margin-top: -2em;
  position: relative;
  z-index: 1000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 596, ../sass/screen.sass */
#bespoke-sections img {
  display: block;
  height: auto;
  margin: 0;
  width: 100%;
  z-index: 999;
}
@media screen and (max-width: 480px) {
  /* line 547, ../sass/screen.sass */
  #bespoke-sections {
    letter-spacing: normal;
  }
  /* line 606, ../sass/screen.sass */
  #bespoke-sections li {
    width: 49%;
    margin-bottom: 5px;
    margin-right: 0;
  }
  /* line 611, ../sass/screen.sass */
  #bespoke-sections li:nth-child(3n) {
    margin-right: 0;
  }
  /* line 614, ../sass/screen.sass */
  #bespoke-sections li:nth-child(2n - 1) {
    margin-right: 2%;
  }
  /* line 617, ../sass/screen.sass */
  #bespoke-sections figcaption {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  /* line 620, ../sass/screen.sass */
  #bespoke-sections img {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}

/* line 636, ../sass/screen.sass */
nav.collection,
nav.product {
  top: -6em;
}
/* line 640, ../sass/screen.sass */
nav.collection .price,
nav.product .price {
  color: black;
}
@media screen and (max-width: 480px) {
  /* line 636, ../sass/screen.sass */
  nav.collection,
  nav.product {
    top: -2em;
  }
  /* line 647, ../sass/screen.sass */
  nav.collection .sections li,
  nav.product .sections li {
    margin-right: 0;
    width: 100%;
  }
  /* line 651, ../sass/screen.sass */
  nav.collection .sections img,
  nav.product .sections img {
    float: left;
    margin-right: 4%;
    width: 25%;
  }
  /* line 656, ../sass/screen.sass */
  nav.collection .sections figcaption,
  nav.product .sections figcaption {
    margin: 0;
    text-align: left;
  }
}

/* line 667, ../sass/screen.sass */
.product.columns {
  margin-bottom: 1em;
}
/* line 670, ../sass/screen.sass */
.product img.column {
  height: auto;
}
/* line 673, ../sass/screen.sass */
.product h1 {
  border-bottom: 1px solid #eeeeee;
  text-transform: uppercase;
  font-size: 1.5em;
}
/* line 678, ../sass/screen.sass */
.product .price {
  display: block;
  margin-bottom: 1em;
}

@media screen and (max-width: 480px) {
  /* line 683, ../sass/screen.sass */
  nav.product {
    top: 0;
  }
}
/* line 694, ../sass/screen.sass */
.blog ul {
  padding: 2%;
  top: -6em;
}
@media screen and (max-width: 480px) {
  /* line 694, ../sass/screen.sass */
  .blog ul {
    top: -2em;
  }
}
/* line 701, ../sass/screen.sass */
.blog ul a {
  background-color: white;
  border-bottom: 1px solid #bbbbbb;
  display: block;
  margin-bottom: 0.5em;
  overflow: hidden;
  padding: 1%;
  color: black;
}
/* line 18, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.blog ul a:visited {
  color: black;
}
/* line 21, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.blog ul a:focus {
  color: #a95400;
}
/* line 24, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.blog ul a:hover {
  color: #8c001a;
}
/* line 27, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.blog ul a:active {
  color: #a95400;
}
/* line 710, ../sass/screen.sass */
.blog ul a:last-child {
  border-bottom-width: 0;
}
/* line 713, ../sass/screen.sass */
.blog ul a:hover {
  -webkit-box-shadow: 0 0 4px 3px #aaaaaa;
  -moz-box-shadow: 0 0 4px 3px #aaaaaa;
  box-shadow: 0 0 4px 3px #aaaaaa;
  background-color: #efefef;
}
/* line 717, ../sass/screen.sass */
.blog img {
  float: left;
  margin-right: 2%;
  width: 35%;
  height: auto;
}
/* line 723, ../sass/screen.sass */
.blog h1,
.blog date {
  display: inline-block;
}
/* line 727, ../sass/screen.sass */
.blog h1 {
  font-size: 1.2em;
  text-transform: uppercase;
}
/* line 731, ../sass/screen.sass */
.blog date {
  float: right;
  font-size: 0.8em;
  font-weight: normal;
}
/* line 736, ../sass/screen.sass */
.blog .excerpt {
  display: block;
  clear: right;
  overflow: hidden;
}
/* line 741, ../sass/screen.sass */
.blog nav {
  text-align: center;
}
/* line 744, ../sass/screen.sass */
.blog nav a {
  padding: 0 0.5em;
}
@media screen and (max-width: 480px) {
  /* line 748, ../sass/screen.sass */
  .blog img {
    width: 100%;
  }
}

/* line 760, ../sass/screen.sass */
article.blog .container {
  background-color: white;
  padding: 2%;
  top: -6em;
}
/* line 765, ../sass/screen.sass */
article.blog .container.article {
  border: 1px solid #bbbbbb;
  border-bottom-width: 0;
}
@media screen and (max-width: 1000px) {
  /* line 765, ../sass/screen.sass */
  article.blog .container.article {
    border: none;
  }
}
/* line 773, ../sass/screen.sass */
article.blog .content img {
  width: auto;
  max-width: 100%;
}
/* line 777, ../sass/screen.sass */
article.blog .credit {
  float: right;
  font-size: 0.9em;
  font-style: italic;
}
/* line 782, ../sass/screen.sass */
article.blog .credit .author {
  font-weight: bold;
}
/* line 786, ../sass/screen.sass */
article.blog nav a {
  display: inline-block;
  overflow: hidden;
  padding: 1%;
  color: black;
  width: 40%;
}
/* line 18, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
article.blog nav a:visited {
  color: black;
}
/* line 21, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
article.blog nav a:focus {
  color: #a95400;
}
/* line 24, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
article.blog nav a:hover {
  color: #8c001a;
}
/* line 27, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
article.blog nav a:active {
  color: #a95400;
}
/* line 793, ../sass/screen.sass */
article.blog nav a:hover {
  -webkit-box-shadow: 0 0 4px 3px #aaaaaa;
  -moz-box-shadow: 0 0 4px 3px #aaaaaa;
  box-shadow: 0 0 4px 3px #aaaaaa;
  background-color: #efefef;
}
/* line 798, ../sass/screen.sass */
article.blog nav a:first-child figcaption {
  text-align: left;
}
/* line 802, ../sass/screen.sass */
article.blog nav a:last-child figcaption {
  text-align: right;
}
/* line 804, ../sass/screen.sass */
article.blog nav img {
  width: 100%;
}
@media screen and (max-width: 1000px) {
  /* line 785, ../sass/screen.sass */
  article.blog nav {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 480px) {
  /* line 813, ../sass/screen.sass */
  article.blog .container {
    top: 0;
  }
}
